<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- <ui:composition xmlns="http://www.w3.org/1999/xhtml" -->
<!--     xmlns:ui="http://java.sun.com/jsf/facelets" -->
<!--     xmlns:h="http://java.sun.com/jsf/html" -->
<!--     xmlns:f="http://java.sun.com/jsf/core" -->
<!--     xmlns:p="http://primefaces.org/ui" -->
<!--     template="/WEB-INF/layout/standard.xhtml"> -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/WEB-INF/layout/standard.xhtml">

	
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
			<div style="max-width: 60%; height: auto; margin-left: 20%">
				<p:fieldset legend="Nuevo curso">
					<p:messages showSummary="true" autoUpdate="true" />
					<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">

						<p:outputLabel for="activo">#{i18n['nuevocurso.content.form.active']}</p:outputLabel>
						<p:selectBooleanCheckbox id="activo" value="#{cursoController.cursoForm.activo}" />

						<p:outputLabel for="profesor">#{i18n['nuevocurso.content.form.teacher']}</p:outputLabel>
						<p:selectOneMenu id="profesor" value="#{cursoController.cursoForm.profesor}"
							converter="#{profesorConverter}">
							<f:selectItems value="#{cursoController.listProfesores}" var="prof"
								itemLabel="#{prof.nombreProfesor}" itemValue="#{prof}" />
						</p:selectOneMenu>

						<p:outputLabel for="titulo">#{i18n['nuevocurso.content.form.title']}</p:outputLabel>

						<p:inputText id="titulo" label="Titulo"
							value="#{cursoController.cursoForm.tituloCurso}" required="true"
							requiredMessage="#{i18n['nuevocurso.content.form.requiredtitle']}" />

						<p:outputLabel for="nivel">#{i18n['nuevocurso.content.form.level']}</p:outputLabel>
						<p:selectOneMenu id="nivel" value="#{cursoController.cursoForm.nivelCurso}">
							<f:selectItem itemValue="1" itemLabel="B&aacute;sico" />
							<f:selectItem itemValue="2" itemLabel="Intermedio" />
							<f:selectItem itemValue="3" itemLabel="Avanzado" />
						</p:selectOneMenu>

						<h:outputLabel for="horas">#{i18n['nuevocurso.content.form.hours']}</h:outputLabel>
						<p:spinner id="horas" value="#{cursoController.cursoForm.horasCurso}" size="2" min="1"
							max="200" />

						<p:spacer height="10" />
						<p:growl id="messages" showDetail="true" />
						<p:fileUpload fileUploadListener="#{cursoController.handleFileUpload}"
							mode="advanced" description="Images" update="messages"
							sizeLimit="100000" auto="true" label="#{i18n['nuevocurso.content.form.chooseFile']}"
							allowTypes="/(\.|\/)(pdf|doc?|xls?|txt)$/" />

						<h:outputText value="#{cursoController.cursoForm.nombreFichero}" />

						<p:commandButton value="#{i18n['nuevocurso.content.form.addCourse']}" action="guardarcurso"
							style="margin-top:2em;" />

					</h:panelGrid>
				</p:fieldset>
			</div>
		</h:form>
	</ui:define>
</ui:composition>